<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommender - {% block title %} {% endblock %}</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/boilerplate.css') }}">
    {% block stylesheet %} {% endblock %}
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎵</text></svg>">
</head>
<body>
  <div class='masthead'>

    <nav class="navbar" id="navbar">
        <h1>RECOMMENDER</h1>
        <a href="{{ url_for('home') }}">Home</a>
        <div>
        <a href="{{ url_for('rate_artist') }}">Rate Artists</a>
        <ul>
          <li><a href = "{{ url_for('portal') }}">Import Spotify</a></li>
          <li>Rate Artists</li>
        </ul>
        </div>
        <a href="{{ url_for('recommendations') }}">Recommendations</a>
        <a href="{{ url_for('logout') if 'user' in session else url_for('login')}}">{{"Log Out" if 'user' in session else "Log In/Sign Up"}}</a>
        <button class="burger" id="burger-toggle">
          <div id="open-button">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" fill="black" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <line x1="4" y1="6" x2="20" y2="6" />
            <line x1="4" y1="12" x2="20" y2="12" />
            <line x1="4" y1="18" x2="20" y2="18" />
            </svg>
          </div>
          <div id="close-button">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" fill="black" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <rect x="4" y="4" width="16" height="16" rx="2" />
            <path d="M10 10l4 4m0 -4l-4 4" />
            </svg>
          </div>
        </button>

    </nav>
  </div>
    <div class="content">
        {% block content %} {% endblock %}
    </div>

  <script src="{{ url_for('static',filename='navbar.js') }}"></script>
</body>
</html>
