<!DOCTYPE html>
<html>

<head>
    <title>Login - Music Recommender</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/logging_in.css') }}">
</head>

<body class="login-page">

    <div class="login-container">
        <h1>Welcome to Music Recommender</h1>
        <a href="{{ auth_url }}">
            <button class="spotify-button">Login with Spotify</button>
        </a>
    </div>

    <script src="{{ url_for('static', filename='login.js') }}"></script>
</body>

</html>