{% extends 'boilerplate.html' %}

{% block stylesheet %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/add_form.css') }}">
{% endblock %}

{% block content %}
    <h1>{% block title %}Rate Artist {% endblock %}</h1>
    {% if logged_in %}
<form method="post">
    <p>
        <label for="artist">Artist: </label>
        <select name="artist" class="dropdown">
               {% for artist in artists %}
                <option value="{{ artist[1] }}">{{ artist[1] }}</option>
               {% endfor %}
        </select>
    </p>
    <p>Click on a star to submit your rating!</p>

    <div class="star-container">
    {% for i in range(10) %}
      <button type="submit" class="rating-star" value="{{ i + 1 }}" name="rating">&#11088;</button>

    {% endfor %}
    </div>
</form>
{% else %}
<p>Please <a href="{{ url_for('login') }}">log in</a> to rate artists!</p>
{% endif %}
{% endblock %}
