{% extends 'boilerplate.html' %}

{% block stylesheet %}<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/recommend.css') }}">{% endblock %}

{% block content %}
    <h1>{% block title %}Recommendations {% endblock %}</h1>
    {% if logged_in != True %}
    <a href="{{ url_for('login') }}">Log in to get recommendations!</a>
    {% endif %}
{% if num_rated >= 10 %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{{ url_for('static',filename='recommend.js') }}"></script>
<div class="recs-loading">
<p class="letter l">L</p> <p class="letter o">O</p> <p class="letter a">A</p> <p class="letter d">D</p>
<p class="letter i">I</p> <p class="letter n">N</p> <p class="letter g">G</p> <p class="letter d1">.</p>
<p class="letter d2">.</p> <p class="letter d3">.</p>
</div>

<script src="{{ url_for('static',filename='loading.js') }}"></script>
<div id='recs_container'></div>
{% else %}
<p><a href="{{ url_for('welcome') }}?username={{ session['username'] }}"> Rate {{10 - num_rated}} more artists</a> to get recommendations</p>

{% endif %}

{% endblock %}
