.progress-bar {
  width: 98%;
  height: 2em;
  background-color: rgb(233, 233, 243);
  border-radius: 1em;
  border: 1px solid red;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.progress-fill {
  width: 0%;
  height: 100%;
    background: repeating-linear-gradient(
  -55deg,
  red,
  red 1px,
  white 1px,
  white 15px
);
  border-radius: 1em;
}

.progress-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5em;
  right: 10px;
}
